<?xml version="1.0"?>
<robot name="reemc" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find tomm_description)/urdf/sensors/skin.gazebo.xacro" />
  <xacro:property name="update_rate"       value="100.0" />
  <xacro:property name="min_range"       value="0.0" />
  <xacro:property name="max_range"       value="0.1" />

  <!-- right hand -->
  <xacro:reemc_skin name="tomm_p301e" parent="r_hand_base_link" update_rate="${update_rate}" min_range="${min_range}" max_range="${max_range}"/>

  <!-- left hand -->
  <xacro:reemc_skin name="tomm_p401e" parent="l_hand_base_link" update_rate="${update_rate}" min_range="${min_range}" max_range="${max_range}"/>

</robot>
