<?xml version="1.0"?>
<launch>
	<arg name="ARM" default="right"/>
  <arg name="PC_IP_ADDR" default="192.168.1.3"/>
  <arg name="ROBOT_IP_ADDR" default="192.168.1.5"/>
	<arg name="MANAGER_PORT" default="50001"/>
	<arg name="SCRIPT_FILE_PATH" default="$(find ur_script_manager)/launch/scripts/scriptManagerRightArmAndGripper"/>

	<group ns="tomm">
	<group ns="arm_$(arg ARM)">
   		<node name="robot_script_manager1" pkg="ur_script_manager" type="robot_script_manager" args="$(arg SCRIPT_FILE_PATH) $(arg PC_IP_ADDR) $(arg ROBOT_IP_ADDR) $(arg MANAGER_PORT)" output="screen"/>	
	</group>
	</group>

</launch>
