<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- setup the world -->
  <include file="$(find tomm_worlds)/launch/includes/custom_simulation.launch">
    <arg name="world"  default="empty"/>
    <arg name="skin"  default="full"/>
    <arg name="gzpose" default="-x 0.0 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/> 
  </include>

</launch>