<?xml version="1.0"?>
<!--

	Author: Emmanuel Dean dean@tum.de
  
  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot name="tom" xmlns:xacro="http://www.ros.org/wiki/xacro"
        xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
        xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
        xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

	<!--Common definitions -->
	<xacro:include filename="$(find tomm_description)/urdf/common.xacro"/>
	<xacro:include filename="$(find tomm_description)/urdf/materials.urdf.xacro"/>
	
	<!-- xacro macros Base -->
	<xacro:include filename="$(find tomm_description)/urdf/base/base.urdf.xacro"/>

	<!-- xacro macros Sensors -->
	<xacro:include filename="$(find tomm_description)/urdf/sensors/sensors.urdf.xacro"/>

	<!--xacro macros Arms-->
	<!--xacro:include filename="$(find tomm_description)/urdf/arm/ur5/ur5.urdf.xacro"/-->
	<xacro:include filename="$(find tomm_description)/urdf/arm/arms.urdf.xacro"/>

  <!--xacro macros Hands-->
  <!--xacro:include filename="$(find tomm_description)/urdf/hand/hands.urdf.xacro"/-->
	<xacro:include filename="$(find tomm_description)/urdf/lacquey/grippers.urdf.xacro"/>
 
    <!-- Robot namespace for ros_control -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/tom_robot</robotNamespace>
            <controlPeriod>0.008</controlPeriod>
        </plugin>
    </gazebo>

	<!-- robot base, includes base, torso, wheels and logos -->
    <xacro:tom_base_v0 name="base" />

	<!-- robot head, includes the left camera -->

	<link name="tom_left_camera_link">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.01 0.01 0.01"/>
            </geometry>
        </visual>
    </link>
  
  
    <link name="tom_head_link">
        <visual>
            <origin rpy="1.57079632679 0 -1.57079632679" xyz="1 1.255 -0.838"/>
            <geometry>
                <mesh filename="package://tomm_description/meshes/head/head.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="green">
                <color rgba="0.0 0.8 0.0 1"/>
            </material>
        </visual>
        <collision>
		    <origin rpy="0 0 0" xyz="0 0 0.2"/>
		    <geometry>
		        <sphere radius="0.15"/>
		    </geometry>
		</collision>
		<inertial>
            <origin xyz="0 0 0.2" rpy="0 0 0" />
            <mass value="1.0"/>
            <inertia  ixx="0.00001" ixy = "0"          ixz = "0"
                                         iyy="0.00001" iyz = "0"
                                                            izz="0.00001"/>
        </inertial>
    </link>
    
    <gazebo reference="tom_head_link">
        <material>Gazebo/Grey</material>
    </gazebo>
  
    <joint name="table_head_joint" type="fixed">
		<origin rpy="0 0 0" xyz="0 0 0"/>
        <parent link="torso_link"/>
        <child link="tom_head_link"/>
    </joint>
  
  
    <joint name="tom_left_camera_joint" type="fixed">
        <origin rpy="-2.43606 -0.193804 -1.648299" xyz="0.075241 0.032279 0.211305"/>
        <parent link="torso_link"/>
        <child link="tom_left_camera_link"/>
    </joint>	

	<!-- Arms -->
	<!-- Right Arm -->
	<xacro:tom_arm_v0 right_arm="true"/>
	<!-- Left Arm -->
	<xacro:tom_arm_v0 right_arm="false"/>


	<xacro:tom_gripper_v0 right_gripper="true"/>
	<xacro:tom_gripper_v0 right_gripper="false"/>
	
	<!-- Sensors -->
	<xacro:tom_sensors_v0 name="laser" />

  <!-- Objects -->

	<!--

	<link name="table_tom_link">
    <visual>
      <origin rpy="1.57079632679 0 1.57079632679" xyz="-0.90 -0.91 -0.42"/>
      <geometry>
        <mesh filename="package://tomm_description/meshes/objects/TOMMTABLE.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="blue">
         <color rgba="0.00 0.25 1.0 1.0"/>
       </material>
    </visual>
  </link>
  
  <link name="box_tom_link">
    <visual>
      <origin rpy="1.57079632679 0 0" xyz="0.55 -0.441 0.255"/>
      <geometry>
        <mesh filename="package://tomm_description/meshes/objects/TOMMBox.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="orange">
         <color rgba="0.92 0.63 0.08 1.0"/>
       </material>
    </visual>
  </link>
  
    
	<joint name="box_tom_joint" type="fixed">
		<origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="base_footprint"/>
    <child link="box_tom_link"/>
  </joint>
  
  
	<joint name="table_tom_joint" type="fixed">
		<origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="base_footprint"/>
    <child link="table_tom_link"/>
  </joint>

-->



	


</robot>
