<?xml version="1.0"?>
<launch>
	<arg name="ARM" default="right"/>
	<arg name="INTF_TYPE" default="TSU"/>
  <arg name="IP_ADDRESS" default="192.168.0.10"/>
	<arg name="PORT" default="1337"/>
	<arg name="VERSION" default="2"/>
	<arg name="UPDATE_RATE" default="250"/>

	<group ns="tomm">
	<group ns="arm_$(arg ARM)">
	<group ns="arm">
		<node name="skin_driver_events_tom" 
			pkg="tum_ics_skin_driver_events" 
			type="skin_driver_events" 
			args="$(arg INTF_TYPE) $(arg IP_ADDRESS) $(arg PORT) $(arg VERSION) $(arg UPDATE_RATE)" output="screen"/>
	</group>		
	</group>
	</group>   
</launch>
